# Question 1

## Write a program that uses a loop to display the characters for each ASCII code 32 through 127. Display 16 characters on each line with one space between characters.

In [6]:
for i in range(32,128, 16):
    for x in range(i, i+16, 1):
        print(chr(x), end=" ")
    print("")

  ! " # $ % & ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; < = > ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ 

# Question 2

## Write a program that asks the user for a positive integer value. The program should use a loop to get the sum of all the integers from 1 up to the number entered. For example, if the user enters 50, the loop will find the sum of 1, 2, 3, 4, ... 50.
### Input Validation: Do not accept an input that is less than 1.

In [12]:
x = int(input("Enter Positive Number: "))
y = 0;
if(x < 1):
    print("Wrong Input")
else:
    for i in range(1,x):
        y += i
y += x

print(y)

Enter Positive Number: 10
55

# Question 3

## Write a program that asks the user for the speed of a vehicle (in miles per hour) and how many hours it has traveled. It should then use a loop to display the total distance traveled at the end of each hour of that time period.
### Input Validation: Do not accept a negative number for speed and do not accept any value less than one for time traveled

In [7]:
speed = -1
while speed < 0:
    speed = int(input("What is the speed of the vehicle in mph? "))

distance = 0
while distance < 1:
    distance = int(input("How many hours has it traveled? "))

print("------------------------------")
print("Hour Distance Travelled")
print("------------------------------")
for i in range(1,distance+1):
    print(i , "\t\t\t" , speed*i)
print("------------------------------")

What is the speed of the vehicle in mph? -20
What is the speed of the vehicle in mph? 40
How many hours has it traveled? 0
How many hours has it traveled? 1
How many hours has it traveled? -29
How many hours has it traveled? 3
------------------------------
Hour Distance Travelled
------------------------------
1 			 40
2 			 80
3 			 120
------------------------------

# Question 4

## You were asked to write a program that converts a Celsius temperature to Fahrenheit and Kelvin . Modify that program so it uses a loop to display a table of the Celsius temperatures from 0 to 20 and their Kelvin and Fahrenheit equivalents.

In [14]:
print("-------------------------------------------")
print("Celsius", "\t", "Fahrenheit", "\t", "Kelvin")
print("-------------------------------------------")
for i in range(20):
    print(i , "\t\t" ,  i*9/5 , "\t\t" , i+273.15)
print("-------------------------------------------")

-------------------------------------------
Celsius 	 Fahrenheit 	 Kelvin
-------------------------------------------
0 		 0.0 		 273.15
1 		 1.8 		 274.15
2 		 3.6 		 275.15
3 		 5.4 		 276.15
4 		 7.2 		 277.15
5 		 9.0 		 278.15
6 		 10.8 		 279.15
7 		 12.6 		 280.15
8 		 14.4 		 281.15
9 		 16.2 		 282.15
10 		 18.0 		 283.15
11 		 19.8 		 284.15
12 		 21.6 		 285.15
13 		 23.4 		 286.15
14 		 25.2 		 287.15
15 		 27.0 		 288.15
16 		 28.8 		 289.15
17 		 30.6 		 290.15
18 		 32.4 		 291.15
19 		 34.2 		 292.15
-------------------------------------------

# Question 5

## Write a program that displays a table of speeds in kilometers per hour with their values converted to miles per hour. The table should display the speeds from 60 kilometers per hour through 130 kilometers per hour, in increments of 5 kilometers per hour

In [15]:
print("-------------------------------------------")
print("KPH", "\t\t", "MPH")
print("-------------------------------------------")
for i in range(60,135, 5):
    print(i, "\t\t", i*0.6214)

-------------------------------------------
KPH 		 MPH
-------------------------------------------
60 		 37.284
65 		 40.391
70 		 43.498
75 		 46.605
80 		 49.711999999999996
85 		 52.818999999999996
90 		 55.925999999999995
95 		 59.032999999999994
100 		 62.13999999999999
105 		 65.247
110 		 68.354
115 		 71.461
120 		 74.568
125 		 77.675
130 		 80.782

# Question 6

## Write a program that calculates how much a person earns in a month if the salary is one penny the first day, two pennies the second day, four pennies the third day, and so on with the daily pay doubling each day the employee works. The program should ask the user for the number of days the employee worked during the month and should display a table showing how much the salary was for each day worked, as well as the total pay earned for the month. The output should be displayed in dollars with two decimal points, not in pennies.
### Input Validation: Do not accept a number less than 1 or more than 31 for the number of days worked.

In [34]:
days = 0
salary = 1
while (1 > days or days > 31):
    days = int(input("Number of days worked: "))
    
print("----------------------------------")
print("Day # \t\t\t Pay")
print("----------------------------------")
print("1 \t\t\t 0.01")
for i in range(2,days+1):
    salary = salary + salary
    print(i, "\t\t\t", salary/100)
print("----------------------------------")
print("Total Salary for this month: \t", salary/100)
print("----------------------------------")

Number of days worked: 31
----------------------------------
Day # 			 Pay
----------------------------------
1 			 0.01
2 			 0.02
3 			 0.04
4 			 0.08
5 			 0.16
6 			 0.32
7 			 0.64
8 			 1.28
9 			 2.56
10 			 5.12
11 			 10.24
12 			 20.48
13 			 40.96
14 			 81.92
15 			 163.84
16 			 327.68
17 			 655.36
18 			 1310.72
19 			 2621.44
20 			 5242.88
21 			 10485.76
22 			 20971.52
23 			 41943.04
24 			 83886.08
25 			 167772.16
26 			 335544.32
27 			 671088.64
28 			 1342177.28
29 			 2684354.56
30 			 5368709.12
31 			 10737418.24
----------------------------------
Total Salary for this month: 	 10737418.24
----------------------------------